# App
PORT=3000
NODE_ENV=development | production | test

# Database
DATABASE_URL=postgresql://user:password@localhost:port/db-name

# Argon2
ARGON2_MEMORY_COST=65536
ARGON2_TIME_COST=3
ARGON2_PARALLELISM=4
ARGON2_PEPPER=your-pepper-value